.HomeButtonArea {
    min-width: 300px;
    max-width: 380px;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}

.BodyHeadArea {
    display: flex;
    width: 100%;
    margin: 0 0 25px 0;
}

.BackBU {
	width: 68px;
    background-color: #1e1e2d !important;
    font-size: 16px !important;
    color: #bcbcbc !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 15px 10px 15px 10px !important;
    transition: all .3s ease-in-out !important;
    margin: 0px 10px 0px 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BackBU:hover {
	background: #fff;
    text-decoration: none !important;
}

.HomeMenuBU {
	width: 100%;
	background-color: #e1e1e1  !important;
	font-size: 16px !important;
    color: #1e1e2d !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 15px 10px 15px 10px !important;
    transition: all .3s ease-in-out !important;
    margin: 0px 0 0px 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeMenuBU:hover {
	background: #fff;
    text-decoration: none !important;
}

.UserList {
    width: 100%;
    display: flex;
    padding: 13px 0;
    border-bottom: 1px solid #2a2a3e;
}

.UserList:last-child {
    border-bottom: none;
}

.UserList:hover {
    text-decoration: none !important;
}

.UserList svg {
    min-width: 18px;
    width: 18px;
    margin-top: -2px;
    margin-right: 10px;
    color: #bbb;
}

.Archive.UserList svg {
    color: #ff0000;
}

.UserListTitle {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0 0 0 0;
    width: 100%;
}

.UserListID {
    font-size: 13px;
    font-weight: 500;
    color: #b5b4b4;
    margin: 5px 0 5px 0;
    width: 100%;
}

.UserListID span {
    font-size: 10px;
    font-weight: 500;
    margin: 0 0 0 10px;
    padding: 2px 4px;
    border-radius: 5px;
}

.UserListID span.Archive {
    color: #fff;
    background: #ff0000;
}

.UserListID span.Active {
    color: #fff;
    background: #099a0b;
}

.UserListDesig {
    font-size: 12px;
    font-weight: 400;
    color: #b5b4b4;
    margin: 0 0 0 0;
    width: 100%;
}

.UserList .UserEditBU {
    padding: 0 0 0 15px;
}

.UserList .UserEditBU svg {
    min-width: 18px;
    width: 18px;
    margin-right: 0px;
    color: #fcb125;
}

.UserListDe {
    width: 100%;
}