body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
  width: 100%;
	height: 100%;
	background: #151521;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.MuiFormControl-root {
  width: 100%;
}

.LoginInput {
  width: 100%;
}

.LoginInput .MuiInputBase-root,
.LoginInput .MuiFormLabel-root {
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.Error .LoginInput .MuiFormLabel-root {
  color: #ff0000;
}

.LoginInput .MuiFormLabel-root.Mui-focused {
  color: #e1e1e1;
}

.Error .LoginInput .MuiFormLabel-root.Mui-focused {
  color: #ff0000;
}

.LoginInput .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.LoginInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #e1e1e1;
  border-width: 1px;
}

.Error .LoginInput .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.Error .LoginInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ff0000;
}

.LoginInput .MuiOutlinedInput-notchedOutline {
  border-color: #8a8a90;
  transition: all .3s ease-in-out;
}

.Error .LoginInput .MuiOutlinedInput-notchedOutline {
  border-color: #ff0000;
}

.LoginErrorText {
	font-size: 11px;
	color: #ff0000;
	margin: 0;
	width: 100%;
	margin: 5px 0 0 0;
	display: none;
}

.Error .LoginErrorText {
	display: block;
}

.LoginBU {
	width: 100%;
	background-color: #e1e1e1  !important;
	font-size: 16px !important;
  color: #1e1e2d !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 8px 10px 8px 10px !important;
  transition: all .3s ease-in-out !important;
  margin-top: 10px !important;
  font-family: 'Montserrat', sans-serif !important;
  text-align: center !important;
}

.LoginBU:hover {
	background: #fff;
  text-decoration: none !important;
}

.PageBody {
  width: 100%;
	height: 100%;
	background: #151521;
	position: absolute;
  display: inline-table;
}

.Header {
  background: #1e1e2d;
  padding: 15px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 20px 0 #0f0f17;
  top: 0;
  z-index: 99;
}

.HeaderLogo {
  width: 120px;
}

.LogoutBU {
  display: flex;
  font-size: 16px;
  color: #bbb !important;
}

.LogoutBU svg {
  width: 18px;
  margin: -1px 8px 0 0;
}

.Body {
  width: 100%;
}

.Container {
  min-width: 360px;
  max-width: 800px;
  margin: 100px auto 0px auto;
  padding: 20px;
}

.ToggleSwitch {
  color: #fff;
}

.ToggleSwitch .MuiSwitch-root {
  width: 65px !important;
  height: 48px !important;
}

.ToggleSwitch .MuiSwitch-switchBase {
  top: 5px !important;
  left: 6px !important;
}

.ToggleSwitch .MuiSwitch-switchBase.Mui-checked {
  transform: translateX(16px) !important;
}

.ToggleSwitch .MuiSwitch-colorPrimary.Mui-checked {
  color: #e1e1e1 !important;
}

.ToggleSwitch .MuiSwitch-track {
  border-radius: 30px !important;
}

.ToggleSwitch .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #e1e1e1 !important;
}

.MuiSnackbarContent-root {
  color: #000 !important;
  font-size: 15px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: 0 !important;
  background-color: rgb(252 177 37) !important;
  justify-content: center;
}

.MuiSelect-icon,
.MuiSvgIcon-root {
  color: rgb(255 255 255 / 54%) !important;
}

.CheckBoxWithoutLabel .MuiFormControlLabel-root {
  margin-right: 2px !important;
  margin-left: 0px;
}

.CheckBoxWithoutLabel .MuiFormControlLabel-root > span {
  padding: 0 !important;
}

.CheckBoxWithoutLabel .MuiSelect-icon, 
.CheckBoxWithoutLabel .MuiSvgIcon-root {
  color: rgb(255 255 255) !important;
  width: 1em !important;
  height: 1em !important;
  font-size: .8em !important;
}

.CheckBoxWithoutLabel .MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: #e1e1e1 !important;
  font-size: 13px !important;
  font-weight: 300 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.CheckBox .MuiSelect-icon,
.CheckBox .MuiSvgIcon-root {
  color: #fff !important;
}

.CheckBox.MuiFormControlLabel-root .MuiFormControlLabel-label,
.CheckboxGroup .MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: #e1e1e1 !important;
}

.MuiFormGroup-root.CheckboxGroup {
  display: flex !important;
  flex-wrap: nowrap !;
  flex-direction: unset !important;
}

.CheckboxGroup .MuiSelect-icon, 
.CheckboxGroup .MuiSvgIcon-root {
  color: rgb(255 255 255) !important;
}

.CheckboxGroup .MuiFormControlLabel-root {
  margin-right: 30px !important;
}

.CheckboxGroup .MuiFormControlLabel-root:last-child {
  margin-right: 0px !important;
}

form {
  width: 100%;
}

.LoginInput.SelectForm {
  position: relative;
  z-index: 2;
}

.LoginInput.SelectForm > div {
  background-color: transparent;
  border-color: hsl(240deg 3% 55%);
}

.LoginInput.SelectForm > div #react-select-3-placeholder,
.LoginInput.SelectForm > div > div > div {
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.LoginInput.SelectForm #react-select-3-listbox {
  background: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.LoginInput.SelectForm #react-select-3-listbox > div > div {
  color: #000 !important;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
