.BodyHeadArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 25px 0;
}

.BackBU {
	width: auto;
    background-color: transparent !important;
    font-size: 16px !important;
    color: #bcbcbc !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 0px 0px 0px 0px !important;
    transition: all .3s ease-in-out !important;
    margin: 0px 10px 0px 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BackBU:hover {
	background: #fff;
    text-decoration: none !important;
}

.ViewUserTitle {
    margin: 0 0 0px 0;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 100%;
}

.TableContainer {
    width: 100%;
    position: relative;
    border: 1px solid #2a2a3e;
    overflow: auto;
}

.TableContainer table {
    width: 100%;
    border-collapse: collapse;
}

.TableContainer table tr th {
    min-width: 60px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 5px;
    border-bottom: 1px solid #2a2a3e;
    background: #242438;
    text-align: center;
    white-space: nowrap;
}

.TableContainer table tr th:nth-child(2) {
    min-width: 130px;
}

.TableContainer table tr th:nth-child(3) {
    min-width: 150px;
}

.TableContainer table tr td {
    padding: 8px 5px;
    border-bottom: 1px solid #2a2a3e;
    min-width: 60px;
}

.TableContainer table tr td:nth-child(2) {
    min-width: 130px;
}

.TableContainer table tr td:nth-child(3) {
    min-width: 150px;
}

.TableContainer table tr td p {
    color: #e1e1e1;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    /* width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.TableContainer table tr:last-child td {
    border-bottom: none;
}

.Ready td:last-child p {
    color: rgba(238, 168, 37, 1);
}

.Cooking td:last-child p {
    color: rgba(255, 0, 0, 1);
}

.Delivered td:last-child p {
    color: rgba(9, 154, 11, 1);
}

.ReactDatePicker {
    position: relative;
}

.ReactDatePicker svg {
    position: absolute;
    width: 18px;
    color: #c9c9c9;
    top: 6px;
    right: 12px;
    z-index: -1;
}