.BodyHeadArea {
    display: flex;
    width: 100%;
    margin: 0 0 25px 0;
    align-items: center;
    justify-content: space-between;
}

.BackBU {
	width: auto;
    background-color: transparent !important;
    font-size: 16px !important;
    color: #bcbcbc !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 0px 0px 0px 0px !important;
    transition: all .3s ease-in-out !important;
    margin: 0px 10px 0px 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BackBU:hover {
	background: #fff;
    text-decoration: none !important;
}

.ViewUserTitle {
    margin: 0 0 0px 0;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 100%;
}

.TableContainer {
    width: 100%;
    position: relative;
    border: 1px solid #2a2a3e;
    overflow: auto;
}

.TableContainer table {
    width: 100%;
    border-collapse: collapse;
}

.TableContainer table tr th {
    min-width: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 5px;
    border-bottom: 1px solid #2a2a3e;
    background: #242438;
    text-align: center;
    white-space: nowrap;
}

.TableContainer table tr th:nth-child(2) {
    min-width: 100px;
}

.TableContainer table tr td {
    padding: 8px 5px;
    border-bottom: 1px solid #2a2a3e;
    min-width: 50px;
}

.TableContainer table tr td:nth-child(2) {
    min-width: 100px;
}

.TableContainer table tr td p {
    color: #e1e1e1;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    /* width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.TableContainer table tr td:nth-child(2) p {
    width: 120px;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.TableContainer table tr:last-child td {
    border-bottom: none;
}

.HomeMenuBU {
	width: 200px;
	background-color: #e1e1e1  !important;
	font-size: 16px !important;
    color: #1e1e2d !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 15px 10px 15px 10px !important;
    transition: all .3s ease-in-out !important;
    margin: 0px 0 0px 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeMenuBU:hover {
	background: #fff;
    text-decoration: none !important;
}

.HomeMenuBU svg {
    width: 18px;
    margin-right: 10px;
}

.SalesDropDownDiv {
    width: 200px;
    position: relative;
}

@media (min-width: 360px) {
    .SalesDropDownDiv {
        width: 150px;
    }
}

@media (min-width: 400px) {
    .SalesDropDownDiv {
        width: 170px;
    }
}

@media (min-width: 450px) {
    .SalesDropDownDiv {
        width: 200px;
    }
}